:root { 
    --global-primary-color: maroon;
    --global-secondary-color: magenta;
    --global-header-color: royalblue;
    --global-h3-color: red;}
html { 
     background-color: yellow;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    border: 10px var(--global-secondary-color);
    border-color: var(--global-secondary-color); 
    border-style: double; 
    border-width: 6px;
    padding:10px;
    width: 60%; 
}

header img {
    float: left; 
    padding: 3px;
    margin-right: 15px;}
main h1 {
    font-size: 150%;
    text-align: center;
    color: var(--global-primary-color);
    padding: 10px;
}
.first { 
    float: right; 
    padding: 10px;
    margin: .7em;}
main h2 {
    font-size: 125%;
    padding: 10px;}
    
main h3 {
    font-size: 115%; 
    padding: 10px;
    color: var(--global-secondary-color);
}

.quote1 { 
    text-align: right; 
    color: var(--global-secondary-color); }
.quote2 {
    text-align: right; 
    color: var(--global-secondary-color) ;}
ol { 
    margin: 10px;}
li {
    margin: 10px;
    padding: 5px;}

footer {
        margin-top: 1em;
        border-top: 3px dotted;
        padding: .8em; 
	text-align: center; 
}
footer p { 
          font-size: 90%; 
          margin-top: 2em;
	  border-top: 4px solid;;
	  border-color: var(--global-header-color);
	  padding-top: .7em;
}

